In [41]:
import pandas as pd
import numpy as np
import scipy.stats as stats

In [42]:
#1 

bbs = pd.read_excel("babies.xlsx")

In [43]:
#2-1 

bbs.head()

   bwt  gestation  parity   age  height  weight  smoke
0  120      284.0       0  27.0    62.0   100.0    0.0
1  113      282.0       0  33.0    64.0   135.0    0.0
2  128      279.0       0  28.0    64.0    77.0    1.0
3  123        NaN       0  36.0    69.0   190.0    0.0
4  108      282.0       0  23.0    67.0   125.0    1.0

In [44]:
#2-2

bbs.info()

#there are 5 float and 2 integer data types in the dataset
#there is missing data in gestation, age, height, weight, and smoke columns.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1236 entries, 0 to 1235
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   bwt        1236 non-null   int64
 1   gestation  1223 non-null   float64
 2   parity     1236 non-null   int64
 3   age        1234 non-null   float64
 4   height     1214 non-null   float64
 5   weight     1200 non-null   float64
 6   smoke      1226 non-null   float64
dtypes: float64(5), int64(2)
memory usage: 67.7 KB

In [45]:
#3

bbs.dropna(inplace = True)

bbs.head()

   bwt  gestation  parity   age  height  weight  smoke
0  120      284.0       0  27.0    62.0   100.0    0.0
1  113      282.0       0  33.0    64.0   135.0    0.0
2  128      279.0       0  28.0    64.0    77.0    1.0
4  108      282.0       0  23.0    67.0   125.0    1.0
5  136      286.0       0  25.0    62.0    93.0    0.0

In [46]:
bbs.info()

#There are 62 rows dropped

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1174 entries, 0 to 1235
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   bwt        1174 non-null   int64
 1   gestation  1174 non-null   float64
 2   parity     1174 non-null   int64
 3   age        1174 non-null   float64
 4   height     1174 non-null   float64
 5   weight     1174 non-null   float64
 6   smoke      1174 non-null   float64
dtypes: float64(5), int64(2)
memory usage: 73.4 KB

In [47]:
#4 smoke and gestation are the two qualitative variables in the dataset. They are numeric representations of T/F questions.

In [48]:
bbs["Is Smoker"] = bbs["smoke"]
bbs["Previous Pregnancy"] = bbs["parity"]
bbs["Is Smoker"].replace([0.0, 1.0], ["No", "Yes"], inplace = True)
bbs["Previous Pregnancy"].replace([0, 1], ["No", "Yes"], inplace = True)
bbs.drop(columns = ['smoke', 'parity'], inplace = True)
bbs.head()

   bwt  gestation   age  height  weight Is Smoker Previous Pregnancy
0  120      284.0  27.0    62.0   100.0        No                 No
1  113      282.0  33.0    64.0   135.0        No                 No
2  128      279.0  28.0    64.0    77.0       Yes                 No
4  108      282.0  23.0    67.0   125.0       Yes                 No
5  136      286.0  25.0    62.0    93.0        No                 No

In [49]:
#6-1

bbs2 = bbs.copy()

bbs2.shape

(1174, 7)

In [50]:
#6-1 cont

q1 = bbs2["bwt"].quantile(.25)
q3 = bbs2["bwt"].quantile(.75)

print("Q1:", q1)
print("Q3:", q3)

Q1: 108.0
Q3: 131.0

In [51]:
#6-1 cont

iqr = q3 - q1

print("IQR:", iqr)

IQR: 23.0

In [52]:
#6-1 cont

top = q3 + (iqr * 1.5)
bottom = q1 - (iqr * 1.5)


print("Upper Limit:", top)
print("Lower Limit:", bottom)

Upper Limit: 165.5
Lower Limit: 73.5

In [53]:
#6-1 cont

iqr_outliers = bbs2.loc[(bbs2['bwt'] > top) | (bbs2['bwt'] < bottom)].index

print("INDEX VALUES:", iqr_outliers)

INDEX VALUES: Int64Index([ 239,  309,  361,  462,  500,  529,  556,  594,  632,  709,  738,
             747,  829,  904,  912,  978, 1021, 1035, 1063, 1065, 1099, 1139,
            1148, 1169],
           dtype='int64')

In [54]:
#6-1 cont

bbs2.iloc[[239,  309,  361,  462,  500,  529,  556,  594,  632,  709,  738,
             747,  829,  904,  912,  978, 1021, 1035, 1063, 1065, 1099, 1139,
            1148, 1169]]

      bwt  gestation   age  height  weight Is Smoker Previous Pregnancy
261    81      256.0  30.0    64.0   148.0       Yes                 No
332   103      273.0  22.0    64.0   110.0       Yes                Yes
388    98      275.0  25.0    65.0   112.0       Yes                 No
497   101      289.0  31.0    60.0   125.0        No                Yes
537   147      277.0  30.0    68.0   160.0        No                 No
566   133      280.0  25.0    61.0   130.0        No                Yes
593   118      297.0  35.0    68.0   140.0       Yes                 No
632   176      293.0  19.0    68.0   180.0        No                Yes
676   100      275.0  26.0    60.0   115.0        No                 No
757   155      279.0  33.0    61.0   125.0        No                 No
787   125      272.0  30.0    60.0    96.0        No                 No
796   152      286.0  19.0    67.0   135.0        No                Yes
881   128      272.0  18.0    67.0   109.0        No                Yes
958   133      290.0  21.0    64.0   145.0        No                 No
967   119      273.0  35.0    65.0   125.0       Yes                 No
1035   65      237.0  31.0    67.0   130.0        No                 No
1079  119      286.0  33.0    67.0   137.0        No                Yes
1093  108      256.0  26.0    67.0   130.0        No                Yes
1121  128      277.0  39.0    61.0   120.0        No                 No
1123  133      289.0  22.0    65.0   123.0       Yes                 No
1157  141      293.0  28.0    61.0   125.0        No                 No
1200   97      255.0  22.0    63.0   107.0       Yes                Yes
1209  144      283.0  25.0    66.0   140.0        No                Yes
1231  113      275.0  27.0    60.0   100.0        No                Yes

In [55]:
#6-1 cont

bbs2 = bbs2.drop(iqr_outliers)
print(bbs2.shape)

(1150, 7)

In [56]:
bbs2 = bbs2.reset_index(drop = True)

In [57]:
#6-1 cont

q1 = bbs2["gestation"].quantile(.25)
q3 = bbs2["gestation"].quantile(.75)

print("Q1:", q1)
print("Q3:", q3)

Q1: 272.0
Q3: 288.0

In [58]:
#6-1 cont

iqr = q3 - q1

print("IQR:", iqr)

IQR: 16.0

In [59]:
#6-1 cont

top = q3 + (iqr * 1.5)
bottom = q1 - (iqr * 1.5)


print("Upper Limit:", top)
print("Lower Limit:", bottom)

Upper Limit: 312.0
Lower Limit: 248.0

In [60]:
#6-1 cont

iqr_outliers = bbs2.loc[(bbs2['gestation'] > top) | (bbs2['gestation'] < bottom)].index

print("INDEX VALUES:", iqr_outliers)

INDEX VALUES: Int64Index([   5,    6,    9,   56,   60,   63,  109,  119,  143,  173,  177,
             182,  193,  198,  200,  215,  220,  232,  237,  256,  319,  343,
             364,  406,  425,  445,  470,  482,  584,  632,  645,  654,  670,
             688,  701,  708,  717,  723,  767,  768,  771,  806,  858,  883,
             899,  930,  947,  952,  996, 1055, 1060, 1062, 1066, 1071, 1090,
            1095, 1114, 1121, 1122, 1131, 1133, 1140],
           dtype='int64')

In [61]:
#6-1 cont

bbs2.iloc[[5,    6,    9,   56,   60,   63,  109,  119,  143,  173,  177,
             182,  193,  198,  200,  215,  220,  232,  237,  256,  319,  343,
             364,  406,  425,  445,  470,  482,  584,  632,  645,  654,  670,
             688,  701,  708,  717,  723,  767,  768,  771,  806,  858,  883,
             899,  930,  947,  952,  996, 1055, 1060, 1062, 1066, 1071, 1090,
            1095, 1114, 1121, 1122, 1131, 1133, 1140]]

      bwt  gestation   age  height  weight Is Smoker Previous Pregnancy
5     138      244.0  33.0    62.0   178.0        No                 No
6     132      245.0  23.0    65.0   140.0        No                 No
9     140      351.0  27.0    68.0   120.0        No                 No
56     75      232.0  33.0    61.0   110.0        No                 No
60    101      245.0  23.0    63.0   130.0       Yes                 No
...   ...        ...   ...     ...     ...       ...                ...
1121  127      242.0  17.0    61.0   135.0       Yes                 No
1122   87      247.0  18.0    66.0   125.0       Yes                Yes
1131  146      319.0  28.0    66.0   145.0        No                 No
1133  110      321.0  28.0    66.0   180.0        No                 No
1140  109      244.0  21.0    63.0   102.0       Yes                Yes

[62 rows x 7 columns]

In [62]:
bbs2 = bbs2.drop(iqr_outliers)
bbs2.shape

(1088, 7)

In [63]:
bbs2 = bbs2.reset_index(drop = True)

In [64]:
q1 = bbs2["age"].quantile(.25)
q3 = bbs2["age"].quantile(.75)

print("Q1:", q1)
print("Q3:", q3)

Q1: 23.0
Q3: 31.0

In [65]:
iqr = q3 - q1

print("IQR:", iqr)

IQR: 8.0

In [66]:
top = q3 + (iqr * 1.5)
bottom = q1 - (iqr * 1.5)


print("Upper Limit:", top)
print("Lower Limit:", bottom)

Upper Limit: 43.0
Lower Limit: 11.0

In [67]:
iqr_outliers = bbs2.loc[(bbs2['age'] > top) | (bbs2['age'] < bottom)].index

print("INDEX VALUES:", iqr_outliers)

INDEX VALUES: Int64Index([557, 944], dtype='int64')

In [68]:
bbs2.iloc[[557, 944]]

     bwt  gestation   age  height  weight Is Smoker Previous Pregnancy
557  143      294.0  44.0    65.0   145.0        No                 No
944  122      280.0  45.0    62.0   128.0        No                Yes

In [69]:
bbs2 = bbs2.drop(iqr_outliers)
print(bbs2.shape)

(1086, 7)

In [70]:
bbs2 = bbs2.reset_index(drop = True)

In [71]:
q1 = bbs2["height"].quantile(.25)
q3 = bbs2["height"].quantile(.75)

print("Q1:", q1)
print("Q3:", q3)

Q1: 62.0
Q3: 66.0

In [72]:
iqr = q3 - q1

print("IQR:", iqr)

IQR: 4.0

In [73]:
top = q3 + (iqr * 1.5)
bottom = q1 - (iqr * 1.5)


print("Upper Limit:", top)
print("Lower Limit:", bottom)

Upper Limit: 72.0
Lower Limit: 56.0

In [74]:
iqr_outliers = bbs2.loc[(bbs2['height'] > top) | (bbs2['height'] < bottom)].index

print("INDEX VALUES:", iqr_outliers)

INDEX VALUES: Int64Index([378, 1062], dtype='int64')

In [75]:
bbs2.iloc[[378, 1062]]

      bwt  gestation   age  height  weight Is Smoker Previous Pregnancy
378   146      263.0  39.0    53.0   110.0       Yes                 No
1062  141      281.0  29.0    54.0   156.0       Yes                 No

In [76]:
bbs2 = bbs2.drop(iqr_outliers)

print(bbs2.shape)

(1084, 7)

In [77]:
bbs2 = bbs2.reset_index(drop = True)

In [78]:
q1 = bbs2["weight"].quantile(.25)
q3 = bbs2["weight"].quantile(.75)

print("Q1:", q1)
print("Q3:", q3)

Q1: 114.0
Q3: 137.0

In [79]:
iqr = q3 - q1

print("IQR:", iqr)

IQR: 23.0

In [80]:
top = q3 + (iqr * 1.5)
bottom = q1 - (iqr * 1.5)


print("Upper Limit:", top)
print("Lower Limit:", bottom)

Upper Limit: 171.5
Lower Limit: 79.5

In [81]:
iqr_outliers = bbs2.loc[(bbs2['weight'] > top) | (bbs2['weight'] < bottom)].index

print("INDEX VALUES:", iqr_outliers)

INDEX VALUES: Int64Index([   2,   10,   17,   19,   23,   36,   78,  101,  108,  129,  131,
             140,  157,  158,  160,  189,  244,  266,  269,  298,  357,  372,
             398,  441,  443,  453,  457,  490,  521,  533,  547,  610,  611,
             633,  642,  743,  752,  753,  759,  778,  800,  811,  821,  888,
            1016, 1029, 1064, 1081],
           dtype='int64')

In [82]:
bbs2.iloc[[2,   10,   17,   19,   23,   36,   78,  101,  108,  129,  131,
             140,  157,  158,  160,  189,  244,  266,  269,  298,  357,  372,
             398,  441,  443,  453,  457,  490,  521,  533,  547,  610,  611,
             633,  642,  743,  752,  753,  759,  778,  800,  811,  821,  888,
            1016, 1029, 1064, 1081]]

      bwt  gestation   age  height  weight Is Smoker Previous Pregnancy
2     128      279.0  28.0    64.0    77.0       Yes                 No
10    114      273.0  30.0    63.0   498.0        No                 No
17    115      274.0  27.0    67.0   175.0       Yes                 No
19    122      276.0  30.0    68.0   182.0        No                 No
23    114      266.0  20.0    65.0   175.0       Yes                 No
36    110      278.0  23.0    63.0   177.0        No                 No
78    125      305.0  22.0    70.0   196.0       Yes                 No
101   131      283.0  25.0    67.0   215.0        No                 No
108   115      283.0  25.0    61.0  1500.0       Yes                 No
129   160      300.0  29.0    71.0   175.0       Yes                 No
131   126      282.0  38.0    66.0   250.0        No                 No
140   125      262.0  36.0    66.0   190.0        No                 No
157   136      285.0  23.0    62.0   175.0        No                 No
158   113      277.0  23.0    65.0   192.0       Yes                 No
160   124      277.0  29.0    63.0   220.0        No                 No
189   119      286.0  20.0    64.0   180.0        No                 No
244   148      279.0  27.0    71.0   189.0        No                 No
266   124      292.0  29.0    68.0   176.0       Yes                 No
269   100      277.0  31.0    62.0   355.0       Yes                 No
298   105      276.0  22.0    67.0   845.0        No                 No
357   116      276.0  33.0    61.0   180.0        No                 No
372   140      251.0  28.0    63.0   210.0        No                 No
398    85      258.0  41.0    67.0   399.0        No                 No
441   119      271.0  28.0    64.0   175.0       Yes                 No
443   131      263.0  29.0    64.0   180.0       Yes                 No
453   132      282.0  28.0    67.0   200.0       Yes                 No
457   114      293.0  20.0    66.0   180.0       Yes                Yes
490   105      260.0  23.0    64.0   197.0        No                 No
521   104      270.0  25.0    61.0   511.0        No                 No
533   115      273.0  23.0    67.0   215.0       Yes                Yes
547    91      248.0  33.0    63.0   202.0        No                 No
610   150      286.0  38.0    67.0   175.0        No                 No
611    86      284.0  39.0    65.0   174.0       Yes                 No
633   116      280.0  34.0    68.0   198.0        No                 No
642    84      279.0  34.0    63.0   190.0        No                 No
743   160      271.0  32.0    67.0   215.0        No                 No
752   136      291.0  41.0    66.0   191.0        No                 No
753   119      286.0  22.0    63.0   185.0       Yes                 No
759   122      273.0  26.0    66.0   210.0        No                 No
778   125      301.0  35.0    68.0   181.0        No                Yes
800   138      280.0  30.0    65.0   478.0        No                Yes
811   136      288.0  23.0    62.0   217.0        No                 No
821    97      279.0  29.0    68.0   178.0       Yes                 No
888   143      285.0  27.0    68.0   185.0        No                 No
1016  117      284.0  25.0    66.0   177.0       Yes                 No
1029  104      267.0  30.0    63.0   180.0        No                 No
1064  138      286.0  28.0    68.0    27.0        No                Yes
1081  130      291.0  30.0    65.0    67.0       Yes                 No

In [83]:
bbs2 = bbs2.drop(iqr_outliers)

print(bbs2.shape)

(1036, 7)

In [84]:
#7-1

# Determine the frequencies of each group within each categorical variable. Which groups have the highest frequency?

bbs2["Is Smoker"].value_counts()

# Non-Smokers are the highest frequency

No     631
Yes    405
Name: Is Smoker, dtype: int64

In [85]:
#7-1 cont

bbs2["Previous Pregnancy"].value_counts()

# Patients that have not had a previous pregnancy are the highest

No     754
Yes    282
Name: Previous Pregnancy, dtype: int64

In [86]:
#7-2

#Determine the relative frequencies of each group within each categorical variable.
# Which groups have the highest relative frequencies?

bbs2["Is Smoker"].value_counts(normalize=True)

#No has the highest relative frequency here

No     0.609073
Yes    0.390927
Name: Is Smoker, dtype: float64

In [87]:
#7-2 cont

bbs2["Previous Pregnancy"].value_counts(normalize=True)

#No previous pregnancy has the highest relative frequency here.

No     0.727799
Yes    0.272201
Name: Previous Pregnancy, dtype: float64

In [88]:
#7-3

#Create a crosstab table using both the categorical variables in your dataset.
#How many mothers are smokers who have been pregnant before?

pd.crosstab(bbs2["Is Smoker"], bbs2["Previous Pregnancy"], margins=False, normalize=False)

#110 smokers have been pregnant before.

Previous Pregnancy   No  Yes
Is Smoker
No                  459  172
Yes                 295  110

In [89]:
#8
#Describe the Measures of Central Tendency (mean, median, mode) of the numeric variables in the dataset.
#Calculate the mean, median, and mode for all 5 numeric variables. 

bbs2["bwt"].mean()

120.17567567567568

In [90]:
#8 cont

bbs2["gestation"].mean()

279.984555984556

In [91]:
#8 cont

bbs2["age"].mean()

27.159266409266408

In [92]:
#8 cont

bbs2["height"].mean()

64.00965250965251

In [93]:
#8 cont

bbs2["weight"].mean()

125.65637065637065

In [94]:
#8 cont

bbs2["bwt"].median()

#decimal point is off somewhere in this data set. 
#if this is in pounds its more likely that the average weight is 12, not 120

120.0

In [95]:
#8 cont

bbs2["gestation"].median()

#Most likely a decimal point is off somewhere in this data. 
#all the data in this column is either incorrect or doesn't apply to humans. 
#Human gestation is only 9 months long.
#The median here is over 5 years long

280.0

In [96]:
#8 cont

bbs2["age"].median()

#Seems about where the average age of a human mother would be.

26.0

In [97]:
#8 cont

bbs2["height"].median()

#Seems resonable. Average mother height is 5'3"

64.0

In [98]:
#8 cont

bbs2["weight"].median()

#Also seems reasonable.

125.0

In [99]:
#8 cont

bbs2["bwt"].mode()

#looks like a pretty low number, but again, a 3 digit number here doesn't mean much to me.
#If we're using pounds for mother weight, why arent we here? And if we are, these numbers don't look right.

0    117
Name: bwt, dtype: int64

In [100]:
#8 cont

bbs2["gestation"].mode()

#same applies here. THis number looks off if we're truly talking about human female gestation periods.

0    282.0
Name: gestation, dtype: float64

In [101]:
#8 cont

bbs2["age"].mode()

#pretty close to the median and perfectly reasonable.

0    24.0
Name: age, dtype: float64

In [102]:
#8 cont

bbs2["height"].mode()

#large enough sameple so that this number isn't too far from the median.

0    65.0
Name: height, dtype: float64

In [103]:
#8 cont

bbs2["weight"].mode()

#same with this. Close to the median as would be expected.

0    130.0
Name: weight, dtype: float64

In [104]:
#9

#Describe the Measures of Variability of the numeric variables in the dataset.
#Calculate the range, standard deviation, and 85th percentile for all 5 numeric variables.

bwt_range = bbs2['bwt'].max() - bbs2['bwt'].min()

print(bwt_range)

90

In [105]:
#9 cont

gestation_range = bbs2['gestation'].max() - bbs2['gestation'].min()

print(gestation_range)

64.0

In [106]:
#9 cont

age_range = bbs2['age'].max() - bbs2['age'].min()

print(age_range)

28.0

In [107]:
#9 cont

height_range = bbs2['height'].max() - bbs2['height'].min()

print(height_range)

16.0

In [108]:
#9 cont

weight_range = bbs2['weight'].max() - bbs2['weight'].min()

print(weight_range)

90.0

In [ ]:
#bwt and weight both have the largest range. Makes sense. More of a spread in body weight than any other variable.
#height has the smallest range. Also makes sense.
#Most females are within a couple of feet or so of each other and this shows that

In [109]:
#9 cont

bbs2["bwt"].std()

16.40437160501985

In [110]:
#9 cont

bbs2["gestation"].std()

11.396403911826766

In [111]:
#9 cont

bbs2["age"].std()

5.723814227977458

In [112]:
#9 cont

bbs2["height"].std()

2.481215121299967

In [113]:
#9 cont

bbs2["weight"].std()

16.581045809853826

In [ ]:
#it follows that weight is farther from the mean for both mother and child. That's showed in the std values here.
#height again is the lowest std. Most people are around the same height, as we discussed in class.

In [115]:
#9 cont

np.percentile(bbs2['bwt'], 85)

137.0

In [116]:
#9 cont

np.percentile(bbs2['gestation'], 85)

292.0

In [117]:
#9 cont

np.percentile(bbs2['age'], 85)

34.0

In [118]:
#9 cont

np.percentile(bbs2['height'], 85)

67.0

In [120]:
#9 cont

np.percentile(bbs2['weight'], 85)

145.0